body{
    background-color: #fff;
    color: #333;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: bottom;
}
/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
    background-color: #999;
}

.logo{
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.logo h1{
    font-size: 24px;
}

nav{
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 10;
}

.main-menu{
    display: flex;
}

.main-menu > li > a{
    display: block;
    width: 150px;
    padding: 10px 20px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid rgb(89,140,13);
    border-left: 0;
}
.main-menu > li:first-child > a{
    border-left: 1px solid rgb(89,140,13);
}
.main-menu >li:hover a{
    background-color: rgb(128,203,14);
}


.sub-menu{
    display: none;
}

.sub-menu > li:hover{
    background-color: rgb(138,205,138);
    color: #fff;
}
.sub-menu > li > a{
    display: block;
    width: 150px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.sub-menu-bg{
    display: none;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100px;
    background-color: rgba(17,111,17,.7);
    z-index: 10;
}
.container{
    width: 1200px;
    margin: auto;
}