      .block:nth-child(1) {
        background: rgb(232, 88, 67);
      }
      .block:nth-child(2) {
        background: rgb(26, 84, 207);
      }
      .block:nth-child(3) {
        background: rgb(36, 217, 127);
      }
      .block:nth-child(4) {
        background: rgb(157, 86, 247);
        width: 700px;
      }
      .block:nth-child(5) {
        background: rgb(250, 201, 82);
      }
      .block:nth-child(6) {
        background: rgb(26, 84, 207);
      }
      .block:nth-child(7) {
        background: rgb(157, 86, 247);
      }
      .block:nth-child(8) {
        background: rgb(36, 217, 127);
        width: 700px;
      }
      .block:nth-child(9) {
        background: rgb(232, 88, 67);
      }
      .block:nth-child(10) {
        background: rgb(250, 201, 82);
        width: 700px;
      }
      .block:nth-child(11) {
        background: rgb(26, 84, 207);
      }
      .block:nth-child(12) {
        background: rgb(36, 217, 127);
      }
      .block:nth-child(13) {
        background: rgb(157, 86, 247);
      }
      .block:nth-child(14) {
        background: rgb(250, 201, 82);
      }
      .block:nth-child(15) {
        background: rgb(232, 88, 67);
      }
      .block:nth-child(16) {
        background: rgb(36, 217, 127);
        width: 700px;
      }
      .block:nth-child(17) {
        background: rgb(157, 86, 247);
      }
      .block:nth-child(18) {
        background: rgb(26, 84, 207);
      }
      .block:nth-child(19) {
        background: rgb(250, 201, 82);
      }
      .block:nth-child(20) {
        background: rgb(232, 88, 67);
        width: 700px;
      }